.fundo{

    background-color: lightgray;
}
.fundo-hobbies{
    background-color: lightblue;
}

.cinza{
    background-color: gray;
}

.branco{
    background-color: lightblue;
}

.fundo-contato{
    background-color: white;
}